{% extends "searchbase.html.j2" %}
{% block app_content %}
    <img class="card-img-top" src="{{ url_for('picture', news_id=news.id) }}" alt="News image">
    <h1>{{ news.title }}</h1>
    <p>{{ news.content }}</p>

{% endblock %}