{% extends "searchbase.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

    <h1>{{ _('Hi, %(username)s! Welcome to bbc news!', username=current_user.username) }}</h1>
    {% for news in news_list %}
            <ul class="pager new1">
                <a href="/index/fakenews">
                <p><img src="{{ url_for('picture', news_id=news.id) }}" alt="News image", width = 130px, height = 130px></p>
                <p><b>{{ news.title }}</b></p>
                <p>{{ news.content }}</p></a>
                <a href="/index/edit"><p>Edit</p></a>
                <a href="/delete"></a><p>Delete</p></a>
            </ul>

    {% endfor %}
        <nav>
        <ul class="pager nav justify-content-between">
            <li class="nav-item">
                <a class="nav-link{% if not prev_url %} disabled{% endif %}" href="{{ prev_url or '#' }}">← Newer posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if not next_url %} disabled{% endif %}" href="{{ next_url or '#' }}">Older posts →</a>
            </li>
        </ul>
        </nav>
{% endblock %}