{% extends "searchbase.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>

    <div class="news-page">
        <div class="container py-3">
            {% for news in news_list %}
            <div class="news">
                <h2>{{ news.title }}</h2>
                <p>{{ news.content }}</p>
                <img src="{{ url_for('picture', news_id=news.id) }}" alt="News image">
            </div>
            {% endfor %}
            <nav>
                <ul class="pager nav justify-content-between">
                    <li class="nav-item">
                        <a class="nav-link{% if not prev_url %} disabled{% endif %}" href="{{ prev_url or '#' }}">← Newer posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if not next_url %} disabled{% endif %}" href="{{ next_url or '#' }}">Older posts →</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
