{% extends "searchbase.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

    <h1>News</h1>
    {% for news_item in news_items %}
    <div class="news-item">
    <img src="{{ news_item.image }}" alt="{{ news_item.title }}">
    <h2>{{ news_item.title }}</h2>
    
    <img src="{{ news_item.image }}" alt="{{ news_item.title }}">
    <h2>{{ news_item.title }}</h2>
    <p>{{ news_item.content }}</p>
    <p>{{ news_item.published_date }}</p>
    
    {# 在这里添加其他新闻内容 #}
    </div>
{% endfor %}

{% endblock %}


