{% extends 'base.html.j2' %}

{% block app_content %}
<h1>Search Results for "{{ query }}"</h1>
{% if results %}
<ul>
    {% for result in results %}
    <li>{{ result }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No results found.</p>
{% endif %}
{% endblock %}